.white{
    background-color: white;
    color: black;
}
.number-buttons{
    max-width: 400px;
}
.numberButtonStyles{
display: block;
width: 25%;
height: 80px;
font-size: 2.8rem;
font-weight: 600;
}
.red{
    background-color:maroon;
    color: white;
}



.inline{
display: flex;

}
.four{
display: flex;
}